workflows/1-data-input.json
{
  "name": "1-data-input",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "data-input",
        "responseMode": "responseNode"
      },
      "id": "webhook-data-input",
      "name": "Data Input Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "received"
            }
          ]
        },
        "options": {}
      },
      "id": "set-input-status",
      "name": "Set Input Status",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-input",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Data Input Webhook": {
      "main": [
        [
          {
            "node": "Set Input Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Input Status": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
