workflows/4-ocr-agent.json
{
  "name": "4-ocr-agent",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-ocr",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fileUrl",
              "name": "fileUrl",
              "type": "string",
              "value": "https://example.com/page.png"
            }
          ]
        },
        "options": {}
      },
      "id": "set-ocr-input",
      "name": "Set OCR Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.example.com/ocr/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OCR_API_KEY}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}"
      },
      "id": "http-ocr-extract",
      "name": "Call OCR API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set OCR Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set OCR Input": {
      "main": [
        [
          {
            "node": "Call OCR API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
