workflows/5-llm-summary.json
{
  "name": "5-llm-summary",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-summary",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "text",
              "name": "text",
              "type": "string",
              "value": "Özetlenecek metin buraya gelir."
            }
          ]
        },
        "options": {}
      },
      "id": "set-summary-input",
      "name": "Set Summary Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.OPENAI_API_KEY}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\"model\":\"gpt-4o-mini\",\"messages\":[{\"role\":\"user\",\"content\":(\"Bu metni kısa şekilde özetle: \" + $json.text)}]} }}"
      },
      "id": "http-llm-summary",
      "name": "Generate Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Summary Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Summary Input": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
